.navbar {
  background-color: #f8bcbc; /* ชมพูพาสเทล */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.2s ease;
}

.navbar__logo:hover {
  transform: scale(1.1);
}

.navbar__menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar__item {
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar__item:hover {
  background-color: #ffe0b2; /* พาสเทลเมื่อ hover */
  color: #333;
}